@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');

body {
    background-color: #22BABB;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: 'Quicksand', sans-serif;
    color: #f3f3f3;
    font-size: 18px;
}

main {
    display: flex;
    align-items: center;
}

